.footer-links {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
}

.foot-link {
  list-style: none;
}

.foot-link a {
  color: white;
}

.foot-link a:hover {
  color: white;
}

.footer {
  background-image: url("../../images/footer/wood-panel-background_LOWRES.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

.footer-bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.80);
  padding: 40px;
}

.contact {
  display: flex;
  flex-direction: column;
}

.footerIcon {
  color: white;
}

.footerIcon:hover {
  text-decoration: none;
  color: black;
}