.navbar-nav {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
  }
  
  .nav-link {
    list-style: none;
  }
  
  .navigation {
    background-color: white;
    padding: 15px !important;
  }